
#SlideItMoo_outer {
	overflow: hidden;
	width: 940px; 
	height: 150px;
	margin: 0 auto; 
	background: none; 
	display:block; 
	position:relative; 
	padding: 0;
}
/* create custom forward-backward buttons for this container */
#SlideItMoo_outer .SlideItMoo_forward,
#SlideItMoo_outer .SlideItMoo_back{ 
	display:block; 
	position:absolute; 
	cursor:pointer; 
	width: 25px; 
	height: 150px; 
	bottom:0px; 
	right: 0px; 
	background: url(../images/slideitmoo_forward.png) no-repeat center;  
}
#SlideItMoo_outer .SlideItMoo_back { 
	left:0px; 
	background: url(../images/slideitmoo_back.png) no-repeat center;  
}

/* the width is set to show the number of thumbnails that will be visible */
#SlideItMoo_inner{ 
	position:relative ; 
	overflow:hidden ; 
	width: 940px ; /* set a display width to make the slider look good in case js is disabled */
	margin:0px auto 0px;
	padding: 10px 0px 10px;  
}
/* the thumbnails container; set a width on it so everything will be fine */
#SlideItMoo_items { 
	display:block; 
	position:relative; 
}
/* single element design */
#SlideItMoo_items div.SlideItMoo_element { 
	display:block; 
	position:relative; 
	float:left; 
	margin: 0px 5px 0px; 
	font-size:11px; 
	width: 160px; 
	height: 120px;
	text-align:center; 
	font-family: Verdana, Geneva, sans-serif;
	color:#000000;
}
#SlideItMoo_items a { padding:0px; margin:3px 0px 3px; clear:both; display:block; background:none; padding:2px; }
#SlideItMoo_items a img{ border:none; }
.SlideItMoo_element img
{
width:150px;
height:150px;
opacity:0.7;
transition:width 2s, height 2s;
-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
-o-transition:width 2s, height 2s, -o-transform 2s; /* Opera */

}
.SlideItMoo_element img:hover
{opacity:1;
border: 1px solid #0000ff;

transform:rotate(360deg);
-moz-transform:rotate(360deg); /* Firefox 4 */
-webkit-transform:rotate(360deg); /* Safari and Chrome */
-o-transform:rotate(360deg); /* Opera */

}
